{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main1.css' %}">
    <title>Todo</title>
</head>
<body>
     <!-- Navigation -->
    <nav id="menu">
        <div id="menu-item" ><a href="/Goals">Goals</a></div>
        <div id="menu-item"><a href="/">Task</a></div>
        {% if user.is_authenticated %}
        <div id="menu-item"><a href="/">{{ user.username }}</a></div>
        <div id="user">
        <form action="{% url 'taskmanager:logout' %}" method="POST">
        {% csrf_token %}
        <input id="menu-item" type="submit" name="action" value="Logout"  />

        </form>
        {% else %}
        <div id="menu-item"><a href="/Login/">Login</a></div>
        {% endif %}
        </div>
    </nav>


    <div class="container">
        <div class="todo-app">
            <div class="app-title">
                <h2>Ideas </h2>
                <i class="fa-solid fa-book-bookmark"></i>
            </div>
            <form method="post"  >
                <div class="row">
                    {% csrf_token %}
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <input type="hidden" value="add">
                    <input type="text" id="todoinput" placeholder="any ideas?" name="idea" required  >
                    <input id="todoinputb" type="submit" name="action" value="add" onclick="addTask()"/>
                </div>
            </form>


            <ul id="list-container"  >
                {% for idea in ideas %}
                    <form method="post">
                    {% csrf_token %}

                    <input type="hidden" name="id" value="{{ idea.id }}">
                    <li   data-id="{{ idea.id }}"> <p>{{ idea.idea }}</p><span  class="delete-btn"><input type="submit" id="del" name="action" value="x"  ></span></li>
                    </form>
                {% endfor %}

            </ul>

        </div>
    </div>




    <script src="{% static 'style.js' %}"></script>
</body>
</html>